@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/bootstrap';

.nav-pills .nav-link {
    border-radius: 10px;
    padding: 6px 18px;
    font-size: 0.9rem;
    transition: all 0.2s ease;

    &:hover:not(.active) {
        color: #fff !important;
    }
}